{% extends "core/processing/steps/step_base.html" %}
{% load i18n %}

{% block step_description %}
<p>
	{% trans "Selecione um e-mail para iniciar o processamento da mensagem" %}
</p>
{% endblock %}

{% block step_form %}
<h1>Inbox</h1>
<table class="email_list">
	{% for mail in emails %}
	<tr>
		<td class="email_mark">
		<input name="step_one-email" value="{{ mail.pk }}" type="radio" />
		{% for tag in mail.tags.all %}
				<div class="ui-icon ui-icon-tag-{{ tag.tag }}"></div>
		{% endfor %}	
		</td>
		<td class="email_subject{% if not mail.read %} unread{%endif%}">{{ mail.title }}</td>
	</tr>
		{% empty %}
		<tr>
			<td>Não existem mensagens a serem processadas em sua caixa de entrada</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}