<!doctype html>
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<title>TEI - Inteligência Artificial Aplicada à Educação - LIED</title>
		<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui.min.css" />
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
		{% block extrahead %}
		{% endblock %}
		
		{% block inlinejs %}
		{% endblock %}
		
		{% block inlinecss %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>