{% extends "mail/base.html" %}

{% block inlinejs %}
<script type="text/javascript">
	$(function() {
		var mark_all = true;
		
		$("#compose").button({
			text : true,
			icons : {
				primary : "ui-icon-mail-closed"
			}
		}).click(function(e) {
			e.preventDefault();
			window.location = "{% url mail:compose %}"
		});
		
		$("#mark").button({
			text : false,
			icons : {
				primary : "ui-icon ui-icon-circlesmall-close"
			}
		}).click(function(e){
			e.preventDefault();
			
			$("input[name='emails']").each(function(){
				if (mark_all == true) {
					this.checked = true;
				}
				else {
					this.checked = false;
				}
			});
			mark_all = !mark_all;
		});
		$("#trash").button({
			text : false,
			icons : {
				primary : "ui-icon-trash"
			}
		}).click(function(e) {
			e.preventDefault();
			$(this).closest('form').children('input[name=tag]').val({{ EMAIL_TAGS.TRASH }});
			$(this).closest('form').submit();
		});


		$("#spam").button({
			text : false,
			icons : {
				primary : "ui-icon-notice"
			}
		}).click(function(e) {
			e.preventDefault();
			$(this).closest('form').children('input[name=tag]').val({{ EMAIL_TAGS.SPAM }});
			$(this).closest('form').submit();			
		});

		$("#read").button({
			text : true,
			icons : {
				primary : "ui-icon-mail-open"
			}
		}).click(function(e) {
			e.preventDefault();
			$(this).closest('form').children('input[name=tag]').val({{ EMAIL_TAGS.READ }});
			$(this).closest('form').submit();			
		});

		$("#important").button({
			text : true,
			icons : {
				primary : "ui-icon-star"
			}
		}).click(function(e) {
			e.preventDefault();
			$(this).closest('form').children('input[name=tag]').val({{ EMAIL_TAGS.IMPORTANT }});
			$(this).closest('form').submit();			
		});
							
	}); 
</script>
{% endblock %}

{% block content %}
<form action="." method="POST">
	{% csrf_token %}
	<div id="inbox_toolbar" class="toolbar ui-widget-header ui-corner-all">
		<button id="mark">
			Mark
		</button>
		<button id="compose">
			Compose
		</button>
	
		<button id="trash">
			Trash
		</button>
		<button id="spam">
			Mark as spam
		</button>
		<button id="read">
			Mark as read
		</button>
		<button id="important">
			Mark as important
		</button>
	</div>
	{{ form.tag }}
	<table class="email_list">
		{% for mail in object_list %}
		<tr>
			<td class="email_mark">
				<input name="emails" value="{{ mail.pk }}" type="checkbox" />
				{% for tag in mail.tags.all %}
					<div class="ui-icon ui-icon-tag-{{ tag.tag }}"></div>
				{% endfor %}			
			</td>
			<td onclick="window.location = './{{ mail.pk }}'" class="email_name{% if not mail.read %} unread{%endif%}">{{ mail.from_name }}</td>
			<td onclick="window.location = './{{ mail.pk }}'" class="email_subject{% if not mail.read %} unread{%endif%}">{{ mail.title }}</td>
			<td onclick="window.location = './{{ mail.pk }}'" class="email_date{% if not mail.read %} unread{%endif%}">{{ mail.date }}</td>
		</tr>
		{% empty %}
		<tr>
			<td>Não existem mensagens em sua caixa de entrada</td>
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}
